<h3>Rewards</h3>
<div class="example-container mat-elevation-z8">

      <mat-table #table [dataSource]="dataSource">

          <ng-container matColumnDef="Toggle">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let reward">
                <mat-slide-toggle [ngModel]="reward.display" (click)="displayItem(reward)">
                </mat-slide-toggle>
              </mat-cell>
          </ng-container>

        <ng-container matColumnDef="Reward">
          <mat-header-cell *matHeaderCellDef> Reward </mat-header-cell>
          <mat-cell *matCellDef="let reward"> {{reward.description}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Cost">
          <mat-header-cell *matHeaderCellDef>Cost</mat-header-cell>
          <mat-cell *matCellDef="let reward"> {{reward.amount}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Edit">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let reward">
                <button > <i class="material-icons">mode_edit</i></button>
                <button> <i class="material-icons">delete</i></button>
              </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>

      </mat-table>
    </div>
