mat-dialog-content {
    padding: 0;
}

mat-dialog-actions {
    width: 100%;
    margin: auto;
    padding: 30px;
}

img {
    width: 50px;
    display: block;
    margin: auto;
}

p {
    font-family: 'Roboto', sens-serif;
    font-weight: 500;
    font-size: 16px;
    width: 250px;
    padding: 30px;
    text-align: left;
    margin: auto;
}