* {
    /* box-sizing: border-box; */
    /* margin: 0; */
    background-color: black;
    overflow: hidden;

}

.background {
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.point-items {
  width: 100%;
}

