* {
    /* box-sizing: border-box; */
    /* margin: 0; */
    background-color: black;
    overflow: hidden;

}

.background {
/* display: flex;
flex-direction: column;
height: 100vh; */
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.point-items {
  width: 100%;
}

/* .row {
  flex-grow: 1;
} */

