<!-- <div class="example-container">
    <mat-form-field color="primary">
      <input matInput [(ngModel)]="newItem.name" placeholder="description">
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput [(ngModel)]="newItem.amount" placeholder="no. of points"></textarea>
    </mat-form-field>
  
    <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="prize">Prize</mat-option>
        <mat-option value="reward">Reward</mat-option>
        <mat-option value="penalty">Penalty</mat-option>
      </mat-select>
    </mat-form-field>
    <button md-raised-button type="button" (click)="addPointItems(newItem)">Add Item</button>
  </div> -->

  <form>
      <h1 mat-dialog-title>{{title}}</h1>
      <mat-dialog-content>
        <mat-form-field>
          <input matInput [(ngModel)]="data.description" [ngModelOptions]="{standalone: true}" autocomplete='name' placeholder="Name">
        </mat-form-field><br>
        <mat-form-field>
          <input matInput [(ngModel)]="data.amount" [ngModelOptions]="{standalone: true}" placeholder="amount">
        </mat-form-field><br>
        <mat-form-field>
            <mat-select matInput  [(ngModel)]="data.category" [ngModelOptions]="{standalone: true}" placeholder="Select">
              <mat-option value="prize">Prize</mat-option>
              <mat-option value="reward">Reward</mat-option>
              <mat-option value="penalty">Penalty</mat-option>
            </mat-select>
          </mat-form-field>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button [mat-dialog-close]="data" cdkFocusInitial>{{btn-text}}</button>
      </mat-dialog-actions>
    </form>
    