<h3>Prizes</h3>
<div class="example-container mat-elevation-z8">

  <mat-table #table [dataSource]="dataSource">


    <ng-container matColumnDef="Toggle">
      <mat-header-cell *matHeaderCellDef>Display</mat-header-cell>
      <mat-cell *matCellDef="let prize">
        <mat-slide-toggle [ngModel]="prize.display" (click)="displayItem(prize)">
        </mat-slide-toggle>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Prize">
      <mat-header-cell *matHeaderCellDef> Prize </mat-header-cell>
      <mat-cell *matCellDef="let prize"> {{prize.description}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Cost">
      <mat-header-cell *matHeaderCellDef>Cost</mat-header-cell>
      <mat-cell *matCellDef="let prize"> {{prize.amount}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Edit">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let prize">
          <button > <i class="material-icons" (click)='openEditDialog(prize)'>mode_edit</i></button>
          <button> <i class="material-icons" (click)='openArchieveDialog(prize)'>delete</i></button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>

  </mat-table>
</div>
