<div class="example-container mat-elevation-z8">
    
      <mat-table #table [dataSource]="dataSource">
    
        <ng-container matColumnDef="Prize">
          <mat-header-cell *matHeaderCellDef> Prize </mat-header-cell>
          <mat-cell *matCellDef="let reward"> {{reward.description}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="Cost">
          <mat-header-cell *matHeaderCellDef>Cost</mat-header-cell>
          <mat-cell *matCellDef="let reward"> {{reward.amount}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="Edit">
            <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
            <mat-cell *matCellDef="let reward">
              <button class='delete btn btn-info' (click)='deleteFunc(reward)'>Delete</button>
            </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
    
      </mat-table>
    </div>