<h3>{{title}}</h3>
<div class="example-container mat-elevation-z8">

  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.firstName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.lastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dropdown-type">
      <mat-header-cell *matHeaderCellDef>Select</mat-header-cell>
      <mat-cell  *matCellDef="let student">
        <mat-select placeholder="Select">
          <mat-option value="prize">Prize</mat-option>
          <mat-option value="reward">Reward</mat-option>
          <mat-option value="penalty">Penalty</mat-option>
        </mat-select>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef> Submit </mat-header-cell>
      <mat-cell *matCellDef="let reward">
        <button class='delete btn btn-info'>Submit</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>

  </mat-table>
</div>
