<h3>{{title}}</h3>
<div class="example-container mat-elevation-z8">

  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.firstName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.lastName}} </mat-cell>
    </ng-container>

    <!-- Form Column -->
    <ng-container matColumnDef="form">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let student">
          <form [formGroup]="transactionForm" novalidate>

            <mat-select formControlName="selectedCatId" placeholder="Type">
              <mat-option value="1">Reward</mat-option>
              <mat-option value="2">Penalty</mat-option>
              <mat-option value="3">Prize</mat-option>
            </mat-select>

            <mat-select formControlName="selectedPointId" placeholder="Point">
              <mat-option *ngFor="let point of points" [value]="point.pointId">{{ point.desctiption }}</mat-option>
            </mat-select>

            <button class='btn btn-info'>Submit</button>

          </form>
        </mat-cell>
    </ng-container>



    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>

  </mat-table>
</div>