<h3>{{title}}</h3>
<div class="example-container mat-elevation-z8">

  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.firstName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.lastName}} </mat-cell>
    </ng-container>

    <!-- Form Column -->
    <ng-container matColumnDef="form">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let student">
          <form [formGroup]="transactionForm" novalidate>

            <mat-select formControlName="selectedCatId" (change)="typeChanged()" placeholder="Type" aria-required="true">
              <mat-option value="1">Reward</mat-option>
              <mat-option value="2">Penalty</mat-option>
              <mat-option value="3">Prize</mat-option>
            </mat-select>

            <mat-select formControlName="selectedPointId" placeholder="Point" aria-required="true">
              <mat-option *ngFor="let point of pointsAfterChangeEvent" [value]="point.pointId">
                {{ point.description }} ({{ point.amount }})
              </mat-option>
            </mat-select>

            <input formControlName="comment" placeholder="Comment">

            <button class='btn btn-info' (click)="submitForm(student.studentId)">Submit</button>
            <button class='btn btn-info' (click)="clearInput()">Clear</button>

          </form>

        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>

  </mat-table>
</div>