.rewards {
  flex-wrap: wrap;
  /* margin-bottom: 30px; */
}

.reward {
    /* display: flex; */
    padding:30px;
    margin: 5px;
    width: 125px;
    height: 125px;
    border-radius: 10px;
    align-content: center;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    position: relative;
}

.reward p {
    color: black;
    margin: auto;
    font-size: 20px;
    text-transform: uppercase;
}

.amount {
  position: absolute;
  top: 138px;
  right: 67px;
  color: black;
}

.lego {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110%;
}

.centered {
  position: absolute;
  top: 60%;
  left: 35%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}

.star {
  position: absolute;
  top: 39%;
  left: 11%;
  transform: translate(-50%, -50%);
}

