form {
    height: 200px;
    width: auto;
    text-align: center;
    align-content: center;
    /* background-color: #212121;
  color: white; */
    overflow: hidden;
    font-family: 'Roboto', sens-serif;
    font-weight: 500;
    font-size: 16px;
}

img {
    width: 50px;
    display: block;
    margin: auto;
}

.remove-btn {
    color: rgb(228, 40, 40);
    position: absolute;
    bottom: -10px;
    right: 16px;
}

.cancel {
  position: absolute;
  bottom: -10px;
  left: 16px;
}

mat-dialog-actions {
    width: auto;
    height: auto;
    margin: auto;
    position: relative;
}
