<span matTooltip="Add Student"><button type="button" mat-fab (click)="openDialog()"
      class="btn"><i class="material-icons">person_add</i></button></span>

<h3>{{title}}</h3>

<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="present">
      <mat-header-cell *matHeaderCellDef> Mark Present </mat-header-cell>
      <mat-cell *matCellDef="let student">
        <mat-slide-toggle [ngModel]="student.present" (click)="markPresent(student)">
        </mat-slide-toggle>
        <!-- <button class='delete btn btn-info'>Present</button> -->
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.firstName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.lastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let student">
        <button class="button" (click)='openEditDialog(student)'>
          <i class="material-icons">mode_edit</i>
        </button>
        <button class="button">
          <i class="material-icons" (click)='openArchieveDialog(student)'>delete</i>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>

  </mat-table>
</div>
