<form>
  <h1 mat-dialog-title>{{title}}</h1>
  <mat-dialog-content>
    <mat-form-field>
      <input matInput [(ngModel)]="data.name" [ngModelOptions]="{standalone: true}" autocomplete='name' placeholder="Name">
    </mat-form-field><br>
    <mat-form-field>
      <input matInput [(ngModel)]="data.lastName" [ngModelOptions]="{standalone: true}" autocomplete='last name' placeholder="Surname">
    </mat-form-field><br>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>{{btn-text}}</button>
  </mat-dialog-actions>
</form>