* {
  box-sizing: border-box;
}

.prizes {
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.prize {
    border-radius: 10px;
    width: 150px;
    height: 150px;
    background: linear-gradient(to bottom right, orange, orangered);
    padding: 0 20px;
    font-size: 15px;
    margin: 5px;
    align-content: center;
    text-align: center;
    font-family: 'Russo One', sans-serif;
    position: relative;
}

.coin-line {
  position: absolute;
  bottom: 8px;
  left: 16px;
  align-content: center;
  text-align: center;
  font-family: 'Luckiest Guy', cursive; 
  font-size: 16px;
}

.chest {
  margin: 5px;
  height: 40px;
}

.coin {
  height: 20px;
  position: absolute;
  bottom: 8px;
  right: 16px;
}
