* {
  box-sizing: border-box;
}

.prizes {
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.prize {
    border-radius: 10px;
    width: 300px;
    height: 200px;
    background: linear-gradient(to bottom right, orange, orangered);
    padding: 20px;
    font-size: 30px;
    margin: 5px;
    align-content: center;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    position: relative;
}

.coin-line {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.coin {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
