<h2>Penalties</h2>
<div class="example-container mat-elevation-z8">

      <mat-table #table [dataSource]="dataSource">


          <ng-container matColumnDef="Toggle">
              <mat-header-cell *matHeaderCellDef> </mat-header-cell>
              <mat-cell *matCellDef="let penalty">
                <mat-slide-toggle [ngModel]="penalty.display" (click)="displayItem(penalty)">
                </mat-slide-toggle>
              </mat-cell>
          </ng-container>

        <ng-container matColumnDef="Penalty">
          <mat-header-cell *matHeaderCellDef> Penalty </mat-header-cell>
          <mat-cell *matCellDef="let penalty"> {{penalty.description}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Cost">
          <mat-header-cell *matHeaderCellDef>Cost</mat-header-cell>
          <mat-cell *matCellDef="let penalty"> {{penalty.amount}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Edit">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let penalty">
                <button > <i class="material-icons">mode_edit</i></button>
                <button> <i class="material-icons">delete</i></button>
              </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>

      </mat-table>
    </div>
