
 .tables {
    display: inline-block;
    flex-wrap: wrap;
    width: 30%;
    /* height:300px; */
    margin: 1%;
 }

 .all-tables {
     background-color: #212121;
     text-align: center;
     min-height: 1000px;
     padding-top: 25px;
     
 }


